body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background: white;
  color: black;
  border-radius: 8px;
  text-decoration: none;
}

/* SECTIONS */
section {
  padding: 60px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* PROJECT CARDS */
.projects .card {
  background: #1e293b;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  transition: 0.3s;
}

.projects .card:hover {
  transform: scale(1.03);
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}